/* Color palette used -
http://www.color-hex.com/color-palette/63826 */
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700|Roboto:300,400");


td.noPadding {
    padding: 0px;
}

.parent {
  color:blue;
  cursor: pointer;
}

.MyGod{
  color:green;
}

.consort{
  color:pink;
  cursor: pointer;
}

.children{
  color:red;
}

.child{
  margin:2px;
  cursor: pointer;
}
